<!DOCTYPE html>
<html>
<head>
  <title>Git Express | <%= title %></title>
  <link rel="stylesheet" type="text/css" href="/css/client.bundle.css<%= CACHE_BUSTER || '' %>" />
</head>
<body>
  <div id="root"></div>
  <script src="/js/client.bundle.js<%= CACHE_BUSTER || '' %>"></script>
</body>
</html>
